body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #201e1f;
}

.navbar {
  background-color: #201e1f !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f2c14e' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  margin-left: auto !important;
  margin-right: 0 !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  width: auto !important;
}

.navbar-brand {
  color: #f2c14e !important;
}

.nav-link {
  color: #f2c14e;
}

.nav-link:hover {
  color: #f78154;
}

.nav-link:focus,
.nav-link:active {
  color: #f78154;
}

h1 {
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

li {
  color: #ffffff;
}

p {
  color: #ffffff;
}

form {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button,
.btn {
  background: #fcba04;
  color: #201e1f;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
}

.btn:hover {
  background: #31e981;
  color: #201e1f;
}

#app {
  background-color: #858786;
}

footer {
  background-color: #201e1f;
}

#texto-footer {
  color: #f2c14e;
}

.bi {
  color: #f2c14e;
}
.card {
  background-color: #ffffff !important;
}

#texto-card {
  color: #201e1f;
}

@media (max-width: 768px) {
  .container,
  #app {
    padding-left: 10px;
    padding-right: 10px;
  }

  form {
    padding: 15px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}
